/* Global Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"); *

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;  
}

/* Background Settings */
section {
    position: relative;
    min-height: 100vh;
    background-image: url("../Pictures/bg3.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Create box (Sign in/ups) */
section .main {
    height: 550px;
    width: 500px;
    opacity: 87%;
    padding: 50px 70px;
    overflow: hidden;
    text-align: left;
    background: #fff ;
    display: inline-block;
    top: 50%;
    left: 49.5%;
    position: fixed;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 12px;
}

/* "Create Account" */
section h1 {
    margin: 0;
    padding: 25px;
    text-indent: 66.4px;
    font-size: 22px;
}

section .main input {
    width: 90%;
    margin-bottom: 20px;
    margin-left: 14.9px;
}

/* 5 input bars (Fname / Lname / E-mail / PW / Confirm) */
section .main input[type="fname"], input[type="lname"], [type="email"], input[type="password"] {
    color: black;
    border: none;
    height: 37px;
    font-size: 16px;
    border-bottom: 1px solid skyblue;
    background: transparent;
    outline: none;
}

/* Create button */
section .main input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    width: 325px;
    background: skyblue;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
}

section .main input[type="submit"]:hover {
    background: pink;
}

/* Sign in instead */
section .main a {
    text-decoration: none;
    font-size: 16px;
    margin-left: 14.9px;
    line-height: 20px;
    color: #000;
}

section .main a:hover {
    color: pink;
}



