/* Global Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"); *

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Background Settings */
section {
    position: relative;
    min-height: 100vh;
    background-image: url(../Pictures/bg2.png);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .create-pad {
    position: relative;
    padding: 50px 50px 150px 250px;
    
    
}

/* Create Graph Button */
section .create-graph{
    opacity: 87%;
    background-color: #fff;
    text-decoration: uppercase;
    font-size: 1.2em;
    font-weight: 700;
    padding: 20px 50px;
    margin-top: 15px;
    border-radius: 30px;
    color:skyblue;
    outline: none;
    border: none;
}

section .create-graph:hover {
    color: pink;
}

/* Welcome! Settings */
section .create-pad h1 {
    color: skyblue;
    margin-left: -90px;
    margin-bottom: -25px;
    font-size: 3em;
    font-weight: 800;
}

/* Introduction Line */
section .create-pad p {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}

/* Directory Positions (Home, About) */
section .dir {
    position: absolute;
    top: 30px;
    left: 110px;
    display: flex;
}

/* Home, About Buttons */
section .dir button{
    top: 30px;
    left: 110px;
    display: flex;
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    font-size: 1.5em;
    font-weight: 755;
    background-color: transparent;
    outline: none;
    border: none;
}

section .dir button:hover {
    color: pink;
}

/* Login box (Sign in/ups) */
section .login {
    height: 480px;
    width: 600px;
    padding: 80px 70px;
    opacity: 87%;
    overflow: hidden;
    background: #fff ;
    display: inline-block;
    top: 50%;
    left: 70%;
    position: fixed;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 12px;
}

/* "Sign In" */
section h2 {
    margin: 0;
    padding: 20px;
    text-indent: 152px;
    font-size: 22px;
}

section .login input {
    width: 90%;
    margin-bottom: 20px;
}

/* Two input bars (Enter E-mail / PW ) */
section .login input[type="email"], input[type="password"] {
    color: black;
    border: none;
    height: 40px;
    font-size: 16px;
    border-bottom: 1px solid skyblue;
    background: transparent;
    outline: none;
}

/* Login button */
section .login input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: skyblue;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
}

section .login input[type="submit"]:hover {
    background: pink;
    color: #fff;
}

/* Forgot/Create Account Buttons */
section form button{
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    background-color: transparent;
    outline: none;
    border: none;
}

section form button:hover {
    color: pink;
}
