@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"); *

{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

section {
    position: relative;
    min-height: 100vh;
    background-image: url(../Pictures/bg.png);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
	background: #999;
}

.vertex{
    position: absolute;
    background: blue;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    z-index: 9999;
}

.vertex:hover{
    background: pink;
}

#edge{
    position: absolute;
    background: black;
    width: 5px;
    z-index: 1;
}

#edge:hover{
    background: pink;
}

#sketchRoot{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -375px;
    margin-top: -250px;
}

#pad{
    background-image: url(../Pictures/pad_bg_4.png);
    width: 750px;
    height: 500px;
    border: 2px solid black;
    z-index: 10;
}

#padData{
    margin-left: 5px;
    margin-top: 2px;
    color: white;
}

#loop{
    position: absolute;
    border-radius: 50%;
    border: 5px solid black;
    z-index: 1;
}

#arrowUp{
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid blue;
}

#arrowLeft{
    position: relative;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right:10px solid blue;
}

.vertexID{
    margin-left: -25px;
    font-weight: bolder;
    color: white;
}
.vertexDegree{
    margin-left: 8px;
    margin-top: 12px;
    font-weight: bolder;
    color: white;
}
