body{
	background: #999;
}

#vertex{
    position: absolute;
    background: blue;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    z-index: 9999;
}

#edge{
    position: absolute;
    background: black;
    width: 5px;
    z-index: 1;
}

#pad{
    background: white;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    z-index: 10;
}

#loop{
    position: absolute;
    border-radius: 50%;
    border: 5px solid black;
    z-index: 1;
}

#arrowUp{
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid blue;
}

#arrowLeft{
    position: relative;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right:10px solid blue;
}

