@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"); *

{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

section {
    position: relative;
    min-height: 100vh;
    background-image: url(../Pictures/bg.png);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
	background: #999;
}

.vertex{
    position: absolute;
    background: skyblue;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    z-index: 9999;
}

.vertex:hover{
    --vertex-hover: true;
    background: pink;
}

.vertex:not(:hover){
    --vertex-hover: false;
}

.edge{
    position: absolute;
    background: black;
    width: 5px;
    z-index: 1;
}

.edge:hover{
    background: pink;
}

#sketchRoot{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -375px;
    margin-top: -250px;
}

#pad{
    background-image: url(../Pictures/pad_bg_4.png);
    width: 750px;
    height: 500px;
    border: 2px solid skyblue;
    z-index: 10;
}

#padData{
    margin-left: 5px;
    margin-top: 2px;
    color: white;
}

.loop{
    position: absolute;
    border-radius: 50%;
    border: 5px solid black;
    z-index: 1;
}

.arrowUp{
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid skyblue;
}

.vertexID{
    margin-left: -25px;
    font-weight: bolder;
    color: white;
}
.vertexDegree{
    margin-left: 8px;
    margin-top: 12px;
    font-weight: bolder;
    color: white;
}

#sketchRoot input {
    margin-left: 0.5px;
    outline: none;
    border: none;
    font-weight: bold;
    height: 17px;
}

#sketchRoot #saveSketch  {
    background-color: skyblue;
    height: 15px;
    width: 100px;
    margin-left: 5px;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}

#sketchRoot #saveSketch:hover {
    color: pink;
}


#sketchCommands #clearPad {
    background-color: skyblue;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    margin-top: 10px;
    margin-left: -120px;
    font-weight: bold;
    outline: none;
    border: none;
}

#sketchCommands #clearPad:hover  {
    color: pink;
}

#sketchCommands #deleteSelection {
    background-color: skyblue;
    border-radius: 5px;
    height: 25px;
    width: 125px;
    margin-left: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}

#sketchCommands #deleteSelection:hover  {
    color: pink;
}

#sketchCommands #deselectAll {
    background-color: skyblue;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    margin-left: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}

#sketchCommands #deselectAll:hover  {
    color: pink;
}

#sketchCommands #generateEdges {
    background-color: skyblue;
    border-radius: 5px;
    height: 25px;
    width: 125px;
    margin-left: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}

#sketchCommands #generateEdges:hover  {
    color: pink;
}

#sketchCommands #loopButton {
    background-color: skyblue;
    border-radius: 5px;
    height: 25px;
    width: 50px;
    margin-left: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}

#sketchCommands #loopButton:hover  {
    color: pink;
}

#sketchCommands #grabber {
    background-color: skyblue;
    border-radius: 5px;
    height: 25px;
    width: 75px;
    margin-left: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}

#sketchCommands #grabber:hover  {
    color: pink;
}

#sketchCommands #idDegree {
    background-color: skyblue;
    border-radius: 5px;
    height: 25px;
    width: 50px;
    margin-left: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}

#sketchCommands #idDegree:hover  {
    color: pink;
}

#sketchCommands #veCounts {
    background-color: skyblue;
    border-radius: 5px;
    height: 25px;
    width: 75px;
    margin-left: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}

#sketchCommands #veCounts:hover  {
    color: pink;
}

#sketchCommands #resetIDs {
    background-color: skyblue;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    margin-left: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}

#sketchCommands #resetIDs:hover  {
    color: pink;
}

#sketchCommands #idBridges {
    background-color: skyblue;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    margin-left: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}

#sketchCommands #idBridges:hover  {
    color: pink;
}

#sketchCommands #generateArc{
    background-color: skyblue;
    border-radius: 5px;
    height: 25px;
    width: 50px;
    margin-left: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}

#sketchCommands #generateArc:hover  {
    color: pink;
}