body{
	background: #999;
}

canvas{
    background: white;
}

#vertex{
    position: absolute;
    background: blue;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    z-index: 9999;
}

#edge{
    position: absolute;
    background: black;
    width: 5px;
}

#pad{
    background: white;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

#loop{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid black;
}

