/* Global Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"); *

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Background Settings */
section {
    position: relative;
    min-height: 100vh;
    background-image: url(../Pictures/bg4.png);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Saved Graphs Background */
section .book {
    position: relative;
    opacity: 87%;
    background: #fff;
    height: 750px;
    width: 775px;
    box-sizing: border-box;
    margin-left: 210px;
    border-radius: 12.5px;
}

/* Saved Graphs */
section h1 {
    color: skyblue;
    margin-left: 36.25%;
    margin-top: 2.5%;
    font-size: 30px;
    font-weight: 800;
}

/* Get rid of bullet points  */
section .book li {
    list-style: none;
}

/* Graph Buttons */
section .book a {
    color: #fff;
    position: relative;
    display: inline-block;
    resize: both;
    padding: 20px 50px;
    margin-top: 615px;
    margin-left: 25px;
    border-radius: 30px;
    opacity: 87%;
    background-color: skyblue;
    text-decoration: uppercase;
    font-size: 1.2em;
    font-weight: 600;
}

section .book a:hover {
    color: pink;
}

/* User / input info box */
section .userinfo {
    position: relative;
    background: #fff;
    opacity: 90%;
    height: 500px;
    width: 400px;
    box-sizing: border-box;
    right: 325px;
    border-radius: 12.5px;
}

section h2 {
    color: skyblue;
    margin-left: 21%;
    margin-top: 5%;
}

/* Get rid of bullet points  */
section .userinfo li {
    list-style: none;
}

section .userinfo .info {
    margin-top: 5%;
    margin-left: 7%;
    line-height: 40px;

}

section .logout input {
    color: #fff;
    position: relative;
    display: inline-block;
    resize: both;
    border: none;
    padding: 20px 50px;
    margin-top: 55%;
    margin-left: 28%;
    border-radius: 30px;
    background-color: skyblue;
    text-decoration: uppercase;
    font-size: 1.2em;
    font-weight: 600;
}

section .logout input:hover {
    color: pink;
}









