/* Global Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"); *

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Background Settings */
section {
    position: relative;
    min-height: 100vh;
    background-image: url(../Pictures/bg3.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .buttons li {
    list-style: none;
}

section .book {
    position: relative;
    opacity: 85%;
    background: rgb(255, 255, 255);
    height: 938px;
    width: 955px;
    padding: 50px 50px;
    box-sizing: border-box;
}

section .saved {
    position: relative;
    padding: 10px 400px;
    size: 40px;
}

section .buttons {
    position: relative;
    opacity: 85%;
    color: skyblue;
    background: rgb(255, 255, 255);
    margin: 10px;
    width: 200px;
}

.divider{
    width:30px;
    min-height: 1px;
    height:auto;
    display:inline-block;
}
