/* Global Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"); *

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Background Settings */
section {
    position: relative;
    min-height: 100vh;
    background-image: url(../Pictures/bg3.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Get rid of bullet points on buttons */
section .buttons li {
    list-style: none;
}

/* Saved Graphs Background */
section .book {
    position: relative;
    opacity: 85%;
    background: rgb(255, 255, 255);
    height: 938px;
    width: 955px;
    padding: 50px 50px;
    box-sizing: border-box;
}

/* Title of Saved Graphs */
section .saved {
    position: relative;
    padding: 10px 400px;
    size: 40px;
}

/* Load/Delete/Create Buttons */
section .buttons a {
    color: skyblue;
    position: relative;
    display: inline-block;
    padding: 20px 50px;
    margin-top: 15px;
    border-radius: 30px;
    opacity: 80%;
    background-color: #fff;
    text-decoration: uppercase;
    font-size: 1.2em;
    font-weight: 700;
}

section .buttons a:hover {
    color: pink;
}

section .userinfo {
    position: relative;
    background: rgb(255, 255, 255);
    opacity: 80%;
    margin: 100px;
    height: 200px;
    width: 200px;
}
